html,
body {
  background-color: #090A1A;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section {
  padding-top: 100px;
  position: relative;
  margin-top: 20px;
}

ol, ul {
	list-style: none;
}

.nav-link{
  color: #889FD1;
  font-weight: bold;
}

.text-definition{
  color: #889FD1;
  font-weight: bold;
}

.font-size-large{
  font-size: 4.2rem;
}

.btn-primary{
  background-color: #0016D9;
  border-color: #0016D9;
  color: #fff;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;

}

.btn-outline-primary{
  border-color: #0016D9;
  border-radius: 100px;
}

.btn-outline-primary:hover{
  background-color: #0016D9;
}